.matrix-wrapper {
    padding: 10px;
    display: inline-block;
    /* Asegura que el wrapper sea tan ancho como el contenido */
    position: relative;
}

input[type="number"] {
    text-align: center;
    font-size: 1.2rem;
}